.ejs-carrousel-header {
    cursor: pointer;
}
.ejs-carrousel-content {
    max-height: 0;
    transition: max-height 0.45s ease-out;
    overflow: hidden;
}

.ejs-carrousel-open > .ejs-carrousel-content {
    max-height: 300vh;
    transition: max-height 0.75s ease-in;
}