.ejs-carrousel-header {
    cursor: pointer;
}
.ejs-carrousel-content {
    max-height: 0;
    transition: max-height 0.45s ease-out;
    overflow: hidden;
}

.ejs-carrousel-open > .ejs-carrousel-content {
    max-height: 300vh;
    transition: max-height 0.75s ease-in;
}

.ejs-modal-container {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    display: none;
    z-index: 1000;
}
.ejs-modal-open {
    display: grid;
}